
<h1 class="mb-4"> Help Page</h1>

<div class="btn-group-vertical">

    <a class="btn btn-info" role="button" data-toggle="collapse" href="#collapseEX1" aria-expanded="false" aria-controls="collapseEX1">How to Create A New Quiz</a>
    <div class="collapse" id="collapseEX1">
        <br />
        <div>
            <p style="color:steelblue; text-align:">The below picture shows how to create a quiz.</p>
        </div>
        <br />
        <div class="row">
            <img src="~/images/QuizCreate.jpg" width="100%" />
        </div>
    </div>


    &nbsp;

    <a class="btn btn-info" role="button" data-toggle="collapse" href="#collapseEX2" aria-expanded="false" aria-controls="collapseEX2">How to Edit and Update A Quiz</a>
    <div class="collapse" id="collapseEX2">
        <br />
        <div>
            <p style="color:steelblue">The below picture shows how to edit and update a quiz.</p>
        </div>
        <div class="row border ">
            <div class="row">
                <img src="~/images/QuizEdit.jpg" width="100%" />
            </div>

            <div class="row">
                <img src="~/images/QuizEdit1.jpg" height="400" width="auto" />
            </div>
        </div>
    </div>

    &nbsp;

    <a class="btn btn-info" role="button" data-toggle="collapse" href="#collapseEX3" aria-expanded="false" aria-controls="collapseEX3">How to View Details of A Quiz</a>
    <div class="collapse" id="collapseEX3">
        <br />
        <div>
            <p style="color:steelblue">The below picture shows how to view a quiz.</p>
        </div>
        <div class="row">
            <img src="~/images/QuizDetails.jpg" width="100%" />
        </div>

        <div>
            <p style="color:steelblue">The details of selected quiz is showed.</p>
        </div>
        <img src="~/images/QuizDetails1.jpg" width="100%" />
    </div>

    &nbsp;

    <a class="btn btn-info" role="button" data-toggle="collapse" href="#collapseEX4" aria-expanded="false" aria-controls="collapseEX4">How to Delete A Quiz</a>
    <div class="collapse" id="collapseEX4">
        <br />
        <div>
            <p style="color:steelblue">The below picture shows how to delete a quiz.</p>
        </div>
        <div>
            <img src="~/images/QuizDelete.jpg" width="100%" />
        </div>
        <div>
            <p style="color:steelblue">Navigate to Quiz Delete page.</p>
        </div>
        <img src="~/images/QuizDelete1.jpg" width="100%" />
    </div>

    &nbsp;

    <a class="btn btn-info" role="button" data-toggle="collapse" href="#collapseEX5" aria-expanded="false" aria-controls="collapseEX5">How(Where) to Login</a>
    <div class="collapse" id="collapseEX5">
        <br />
        <div>
            <p style="color:steelblue">The below picture shows how to Login.</p>
        </div>
        <div>
            <img src="~/images/Login.jpg" width="100%" />
        </div>
        <div>
            <p style="color:steelblue">Navigate to Login page and fill out username and password and click Login button.</p>
        </div>
        <div>
            <img src="~/images/Login1.jpg" width="100%" />
        </div>
    </div>

    &nbsp;

    <a class="btn btn-info" role="button" data-toggle="collapse" href="#collapseEX6" aria-expanded="false" aria-controls="collapseEX6">How to Search A Quiz</a>
    <div class="collapse" id="collapseEX6">
        <br />
        <div>
            <p style="color:steelblue">The below picture shows how to search a quiz.</p>
        </div>
        <div>
            <img src="~/images/Search.jpg" width="100%" />
        </div>
        <div>
            <p style="color:steelblue">A list of filtered quizzes is shown on the screen.</p>
        </div>
        <div>
            <img src="~/images/Search1.jpg" width="100%" />
        </div>
    </div>

        &nbsp;

        <a class="btn btn-info" role="button" data-toggle="collapse" href="#collapseEX7" aria-expanded="false" aria-controls="collapseEX7">How to View A Chart and Export Data</a>
        <div class="collapse" id="collapseEX7">
            <br />
            <div>
                <p style="color:steelblue">The below picture shows how to view a report chart.</p>
            </div>
            <div>
                <img src="~/images/Chart.jpg" width="100%"/>
            </div>
            <div>
                <p style="color:steelblue">The chart is showed as above and export and download chart report into a .csv file.</p>
            </div>
            <div>
                <img src="~/images/Chart1.jpg" width="100%"/>
            </div>
        </div>
</div>






