@{
    ViewData["Title"] = "Home Page";
}

<div class="d-flex justify-content-center align-items-center" style="height: 76vh">

    @*<div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>*@

    <form asp-action="FilterQuiz" asp-controller="Quiz">
        <label>Enter Your Organisation's Name to Continue:</label>
        <input type="text" class="form-control" name="organisationName" />
        <input type="submit" class="btn btn-primary" value="View Quizzes" />
    </form>

</div>
